@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);

body, #header, #sidebar {
  margin: 0;
  padding: 0;
  background-color: steelblue;
  color: white;
  font-family: Spinnaker, sans-serif;
}

#header { 
  background-color: lightskyblue;
}

#header h1 {
  margin: 0;
  padding: 0.5em;
  font: 3em 'Racing Sans One', cursive;
  font-weight: bold;
  text-align: right;
  color: black;
  border-bottom: 12px solid darkorange;
  text-shadow: 0.2em 0.2em 0.2em steelblue;
}

#wrap {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  background-color: steelblue;
  /*background-color: lightskyblue;*/
}

#leftwrap {
  float: left;
  width: 100%;
  position: relative;
  right: 80%;
  background-color: lightskyblue;
}

#sidebar {
  float: left;
  width: 20%;
  position: relative;
  left: 80%;
  overflow: hidden;
  background-color: lightskyblue;
  border-right: 10px solid darkorange;
}

#sidebar ul, ul li {
  margin: 0;
  padding:0;
  display: block;
  list-style: none;
}

#sidebar ul a:link, ul a:visited {
  display: block;
  text-decoration: none;
  background-color: lightskyblue;
  color: white;
  padding: 0.2em;
}

#sidebar ul a:hover {
  background-color: steelblue;
}

#content {
  float: left;
  width: 75%;
  position: relative;
  left: 80%;
  overflow: hidden;
  padding: 1em;
  border-left: 10px solid darkorange;
  margin-left: -10px;
  background-color: steelblue;
}

#content label {
  display: block;
  position: relative;
  width: 15em;
}

#content a {
  color: orange;
}

#content table {
  background-color: darkgrey;
}

#content table th {
  width: 10em;
  background-color: darkorange;
  color: black;
}

#content table th a {
  color: black;
}

#content strong {
  padding: 0 0 0 1em;
  color: navy;
  font-size: large;
  font-weight: normal;
}

#footer {
  clear: both;
  background-color: lightgrey;
  color: navy;
  padding: 0.5em;
  font: 8px/1em sans-serif;
  text-align: right;
}
