<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/fuss.css" />
    <title>{% block title %}AkaFun{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1>Let's have some fun</h1>
    </div>
    <div id="wrap">
    <div id="leftwrap">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/fuss/">Home</a></li>
            <li><a href="/admin/">Admin site</a></li>
            <li><a href="/fuss/player_registration">Player registration</a></li>
            <li><a href="/fuss/list_players">Players</a></li>
            <li><a href="/fuss/list/s/matches">One player matches</a></li>
            <li><a href="/fuss/team_registration">Team registration</a></li>
            <li><a href="/fuss/list_teams">Teams</a></li>
            <li><a href="/fuss/list/d/matches">Team matches</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </div>
    <div id="footer">
      {% block footer %}
      Site maintainer: <a href="mailto:my.home.my.castle@gmail.com">Artur Kaminski</a>. Fork on <a href="https://github.com/diarized/fuss">GitHub</a>
      {% endblock %}
    </div>
  </div>
</body>
</html>
